<!doctype html>
<html>

<head>
  <title>Spelling Bee</title>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/games/static/bee.css">



  <script>
    var game = {{ game | tojson }}
    var guessed = []
    var date = {{ date | tojson }}
  </script>
  <script type="text/javascript" src="/games/static/bee.js"></script>
</head>

<body>
  <!-- Headers -->
  <div class="header">
    <div> 
      <h1>Spelling Bee</h1>
      <h2>{{ date }}</h2>
    </div>

    <button id="back-btn" class="button right" onclick="location.href='/games/bee';">Archive</button>
  </div>

  <hr>
  <h2></h2>
  <div id="progress-bar">
    <div id="line">

    </div>

  </div>
  <!-- Letter Display -->
  <div class="container resize">
    <div id="hexagon-container">
      <div class="hexagon hex2"></div>
      <div class="hexagon hex3"></div>
      <div class="hexagon hex4"></div>
      <div class="hexagon hex5"></div>
      <div class="hexagon hex6"></div>
      <div class="hexagon hex7"></div>
      <div class="hexagon hex8"></div>
    </div>
  </div>  
<!--
  <div class="container" id="letters">
  </div>
  -->
  <!-- Guess Display -->
  <div class="container">
    <div class="big" id="display"></div>
  </div>
  <div class="big" id="ephemeral"></div>
  <!-- Buttons  -->
  <div class="container">
    <button id="delete-btn" class="button" type="button" onclick="backspace()">Delete</button>
    <button id="shuffle-btn" class="button" type="button" onclick="shuffle()">Shuffle</button>
    <button id="enter-btn" class="button" type="button" onclick="update(guessed)">Submit</button>
  </div>
  <!-- Score / Game Info -->
  <div class="container">
    <div class="info-container">
      <div id="qual_score">Beginner</div>
      <div>
        <p style="display: inline">Score is:</p>
        <p style="display: inline" id="score">0</p>
      </div>
      <p><button class="button" id="share-btn">Share!</button></p>
    </div>
    <div class="info-container" id="words"></div>
  </div>
</body>

<script>
  init()
</script>

</html>