<!doctype html>
<html>
<head>
  <title>Spelling Bee</title>
  
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/games/static/bee.css">



  <script>
    var game  = {{ game | tojson }}
		var guessed = []
  </script>
  <script type="text/javascript" src="/games/static/bee.js"></script>
</head>

<body>
  <h1>Spelling Bee</h1>
  <hr>
  <h2>{{ date }}</h2>
  <div class="container" id="letters">
  </div>
  <button id="shuffle-btn" type="button" onclick="shuffle()">Shuffle</button>



	<div>
	<div id="qual_score">Beginner</div>
  <div>
		<p>Score is:</p><p id="score">0</p>
	</div>

  <div class="big" id="display"></div>
  
  <p><button id="share-btn">Share!</button></p>

	<div id="words"></div>



</div>
</body>

<script>
  init()
</script>

</html>
