<!doctype html>
<html>
<head>
  <title>Spelling Bee</title>
  
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/games/static/bee.css">



  <script>
    var game  = {{ game | tojson }}
		var guessed = []
  </script>
  <script type="text/javascript" src="/games/static/bee.js"></script>
</head>
<style>
	body {
		background-image: url('/games/static/bee.jpg');
	}
	</style>
<body>
  <h1>Spelling Bee</h1>
  <hr>
  <div class="container" id="letters">

  </div>

	<div>
	<div id="qual_score"><p>Beginner</p></div>
  <div>
		<p>Score is:</p><p id="score">0</p>
	</div>

  <input id="guess">

  <button id="btn" type="button" onclick="update(guessed)">Submit</button>
	
	<div id="words"></div>



</div>
</body>

<script>
  init()
</script>

</html>
