<!doctype html>
<html>
<head>
  <title>Spelling Bee</title>
  
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <style>
    html {
      font-family: Sans-Serif;
    }

    fieldset {
      float: block;
    }
  </style>

  <script>
    var game  = {{ game | tojson }}
  </script>
  <script type="text/javascript" src="static/game.js"></script>
</head>

<body>
  <h1>Spelling Bee</h1>
  <hr>
  <div id="letters">

  </div>

	<div>
	<div id="qual_score"><p>Beginner</p></div>
  <div>
		<p>Score is:</p><p id="score">0</p>
	</div>

  <input id="guess">

  <button type="button" onclick="update()">Submit</button>

	<div id="words"></div>


</div>

</body>

<script>
  init()
</script>

</html>
